@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

$primaryFont: 'DM Sans', sans-serif;

$spacing:(
    bold: -2.24px,
    thin: normal
);

$line:(
    bold: 40.42px,
    thin: 20px
);

$weight: (
    bold: 700,
    thin: 400
);

$font: (
    xs: 0.75rem,
    sm: 0.90rem,
    base: 1.05rem,
    md: 1.25rem,
    lg: 1.4rem,
    xlg: 1.8rem,
    xl: 2.4rem,
    xxl: 3rem,
    xxxl: 3.6rem
);

$primaryColor: rgba(1, 195, 142, 1);
$secondaryColor: rgba(1, 195, 143, 0.612);
$tertiaryColor: rgba(255, 255, 255, 1);
$fourthColor: rgba(255, 255, 255, 0.83);

$primaryBackgroundColor: rgba(17, 18, 18, 1);
$secondaryBackgroundColor: rgba(17, 18, 18, 0.808);
