@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

$primaryFont: 'DM Sans', sans-serif;

$spacing:(
    title: -2.24px,
    text: normal
);

$line:(
    title: 40.42px,
    text: 20px
);

$weight: (
    title: 700,
    text: 400
);

$fontTitleWeight: 700;
$fontTextWeight: 400;

$title: (
    xl: 3.8rem,
    md: 3.2rem,
    sm: 2.6rem
);

$fontTitleXl: 3.8rem;
$fontTitleMd: $fontTitleXl * 0.81;
$fontTitleSm: $fontTitleMd * 0.85;

$subtitle: (
    xl: 2.4rem,
    md: 2.22rem,
    sm: 2.05rem
);

$fontSubtitleXl: 2.4rem;
$fontSubtitleMd: $fontSubtitleXl * 0.925;
$fontSubtitleSm: $fontSubtitleMd * 0.925;

$subsubtitle: (
    xl: 1.5rem,
    md: 1.4rem,
    sm: 1.3rem
);

$fontSubsubtitleXl: 1.5rem;
$fontSubsubtitleMd: $fontSubsubtitleXl - 0.1rem;
$fontSubsubtitleSm: $fontSubsubtitleMd - 0.1rem;

$text: (
    xl: 1.14rem,
    md: 0.9rem,
    sm: 0.8rem
);

$fontTextXl: 1.14rem;
$fontTextMd: 0.9rem;
$fontTextSm: 0.8rem;

$small: (
    xl: 0.8rem,
    md: 0.72rem,
    sm: 0.66rem
);

$fontSmallXl: 0.8rem;
$fontSmallMd: 0.72rem;
$fontSmallSm: 0.66rem;

$button: (
    xl: 1.19rem,
    md: 1.07rem,
    sm: 0.9rem
);

$fontButtonXl: 1.19rem;
$fontButtonMd: 1.07rem;
$fontButtonSm: 0.9rem;

$primaryColor: rgba(1, 195, 142, 1);
$secondaryColor: rgba(1, 195, 143, 0.612);
$tertiaryColor: rgba(255, 255, 255, 1);
$fourthColor: rgba(255, 255, 255, 0.612);

$primaryBackgroundColor: rgba(17, 18, 18, 1);
$secondaryBackgroundColor: rgba(17, 18, 18, 0.808);
