/* ---------- Style Secciones ---------- */
.seccion{
    padding: 7%;
    text-align: center;
    &--padding {
        padding-bottom: 0;
    }
    &__titulo{
        margin: 20px 0 30px 0;
        @include font($subtitle, sm);
        color: $tertiaryColor;
    }
    &--laboral, &--nosotros, &--garantia, &--ayuda, &--referido{
        margin: 60px 0;
        height: 75vh;
        @include d-flex(row, center, center);
    }
    &__laboral--fondo, &__nosotros--fondo, &__garantia--fondo, &__ayuda--fondo, &__referido--fondo{
        @extend .encabezado--servicios;
        background-position-y: 70%;
        z-index: -1;
        opacity: 0.15;
    }
    &__lista{
        @include d-flex(row, center, center);
        flex-wrap: wrap;
        margin: 50px auto;
        article:hover {
            transform: scale(1.15);
            transition: all 2s;
        }
    }
    &__item{
        width: 15rem;
        margin: 30px 2.5%;
        article {
            padding: 8%;
            border-radius: 26px;
            background: $primaryBackgroundColor;
            box-shadow: 19px 19px 40px #0c0d0d, -19px -19px 40px #161717;
        }
    }
    &__subtitulo{
        @include font($subsubtitle, sm);
        margin-bottom: 20px;
        color: $primaryColor;
    }
    &__boton{
        @include font($button, sm);
        color: $tertiaryColor;
        text-decoration: none;
        display: block;
        width: 13rem;
        margin: auto;
        &:hover{
            color: $secondaryColor;
            transition: all 1s;
        }
        &::after{
            content: "";
            position: relative;
            display: block;
            height: 1px;
            width: 30%;
            top: 10px;
            left: 35%;
            border-radius: 10px;
            background-color: $primaryColor;
        }
    }
    &__datos textarea{
        height: 10rem;
    }
    &__confirmar {
        padding: 20px;
        width: 100%;
        @include d-flex(row, center, space-around);
        flex-wrap: wrap;
    }
    &__area {
        background-color: $primaryBackgroundColor;
        color: $primaryColor;
        border-color: $primaryColor;
        border-radius: 10px;
        padding: 10px 18%;
        margin: 20px 0;
    }
    &__archivo {
        width: 75%;
        margin: 30px auto;
        input {
            background-color: $primaryBackgroundColor;
            color: $primaryColor;
        }
    }
    &__sublista {
        list-style: none;
        margin-bottom: 30px;
        color: $tertiaryColor;
    }
    &__numero {
        text-decoration: none;
        color: $primaryBackgroundColor;
    }
    &__mapa {
        border: 0;
        width: 95%;
        margin-top: 30px;
    }
    /* ---------- Style Seccion Newsletter ----------*/
    &__texto {
        @include font($text, sm);
        color: $tertiaryColor;
    }
    &__texto--label {
        margin-top: 30px;
        color: $primaryColor;
    }
    &__entrada {
        width: 80%;
        padding: 10px 25px;
        border-radius: 7px;
        border: 1px solid $fourthColor;
        background-color: transparent;
        margin: 10px auto 20px auto;
        display: block;
        color: $tertiaryColor;
    }
    &__entrada:focus {
        color: $primaryColor;
    }
    &__boton--input {
        width: 8rem;
        margin-bottom: 35px;
        padding: 10px 0;
        background-color: transparent;
        border: 1px solid $secondaryColor;
        border-radius: 15px;
        border-top: 0px;
        border-right: 0px;
        color: $tertiaryColor;
        &:hover {
            color: $secondaryColor;
            border: 1px solid $fourthColor;
            border-top: 0px;
            border-right: 0px;
        }
    }
}
#newsletter .seccion__entrada::placeholder {
    color: $secondaryColor;
}