/* ---------- Style Footer ---------- */
.contacto{
    padding: 0 5%;
    height: auto;
    text-align: center;
    &__titulo{
        @extend .seccion__titulo;
    }
    &__secciones{
        margin: 5vw 0;
        width: 100%;
    }
    & img{
        width: 10rem;
    }
    &__lista{
        @include d-flex(row, center, center);
        flex-wrap: wrap;
        width: auto;
        padding: 0;
        margin: 15px 0;
    }
    &__item{
        margin: 10px;
        width: auto;
        height: auto;
        list-style: none;
        text-align: center;
        a{
            text-decoration: none;
            color: $primaryColor;
            margin: 50px 0;
            @include font($text, md);
            i{
                font-size: 1.7rem;
            }
        }
    }
    &__provincias{
        margin-top: 40px;
        .col-2{
            margin: 10px 0;
        }
    }
    &__subtitulo{
        margin-bottom: 10px;
        @include font($subsubtitle, sm);
        color: $primaryColor;
    }
    &__direccion, &__telefono{
        margin: 10px 0;
    }
    i{
        color: $primaryColor;
    }
    &__enlaces{
        text-decoration: none;
        color: $tertiaryColor;
        margin: 50px 0;
        @include font($small, sm);
    }
}
.legales{
    padding: 0% 4% 1% 4%;
    width: 100%;
    @include d-flex(row, center, space-evenly);
    flex-wrap: wrap;
    &__lista{
        width: 40rem;
        display: block;
        padding: 0;
    }
    &__item{
        width: 10rem;
        margin: 0 auto;
        justify-content: space-between;
        text-align: center;
        list-style: none;
    }
    &__enlaces{
        text-decoration: none;
        color: $primaryColor;
        width: auto;
        @include font($small, sm);
    }
    &__derechos{
        text-align: center;
        color: $primaryColor;
        @include font($small, sm)
    }
}
  