/* ---------- Style Footer ---------- */
.contacto{
    padding: 0 5%;
    height: auto;
    &__redes{
        @include d-flex(row, center, center);
        flex-wrap: wrap;
        width: 100%;
    }
    &__lista{
        @include d-flex(row, center, flex-start);
        width: auto;
        padding: 0;
    }
    &__item{
        margin: 0 10px;
        width: auto;
        list-style: none;
    }
    &__logo{
        width: 1.5rem;
    }
    &__provincias{
        margin-top: 40px;
        .col-2{
            margin: 10px 0;
        }
    }
    &__subtitulo{
        margin-bottom: 10px;
        @include font($subsubtitle, sm);
        color: $primaryColor;
    }
    &__direccion, &__telefono{
        margin: 10px 0;
    }
    i{
        color: $primaryColor;
    }
    &__enlaces{
        text-decoration: none;
        color: $tertiaryColor;
        margin: 50px 0;
        @include font($text, sm);
    }
}
.legales{
    padding: 4% 4% 1% 4%;
    width: 100%;
    @include d-flex(row, center, space-evenly);
    flex-wrap: wrap;
    &__lista{
        width: 40rem;
        display: block;
        padding: 0;
    }
    &__item{
        width: 10rem;
        margin: 0 auto;
        justify-content: space-between;
        text-align: center;
        list-style: none;
    }
    &__enlaces{
        text-decoration: none;
        color: $primaryColor;
        width: auto;
        @include font($small, sm);
    }
    &__derechos{
        text-align: center;
        color: $primaryColor;
        @include font($small, sm)
    }
}
  