/* ---------- Style de los encabezados ---------- */
.encabezado{
    height: 95vh;
    @include d-flex(row, center, flex-start);
    margin-top: 50px;
    span{
        color: $primaryColor;
    }
    &--servicios, &--nosotros, &--empleo, &--contacto, &--legales, &--home{
        width: 100%;
        height: 75vh;
        position: absolute;
        filter: grayscale(0.7);
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: 50%;
        z-index: 0;
        opacity: 0.4;
    }
    &--home{
        object-fit: cover;
        object-position: 24% 5%;
        transform: rotateY(3.142rad);
        transform: rotateX(180);
    }
    &--nosotros{
        background-image: url('../assets/portadas/quienes-somos-header.webp');
    }
    &--servicios{
        background-image: url('../assets/portadas/servicios-header.webp');
    }
    &--empleo{
        background-image: url('../assets/portadas/equipo.webp');
    }
    &--contacto{
        background-image: url('../assets/portadas/sedes-header.webp');
    }
    &--legales{
        background-image: url('../assets/portadas/legales.webp');
    }      
    &__degradado{
        width: 100%;
        height: 76vh;
        position: absolute;
        z-index: 1;
        background: linear-gradient($primaryBackgroundColor, $secondaryBackgroundColor, transparent, transparent, $secondaryBackgroundColor, $primaryBackgroundColor);
        opacity: 1;
    }
    &__articulo{
        text-align: left;
        width: 95%;
        position: absolute;
        padding-left: 9%;
        z-index: 2;
        animation-duration: 2s;
        animation-name: desplazamiento;
        animation-iteration-count: 1;
    }
    &__leyenda{
        color: $secondaryColor;
        @include font(thin, xs);
        span{
            @include font(thin, xs);
        }
    }
    &__titulo{
        color: $tertiaryColor;
        @include font(bold, xl);
        margin-bottom: 30px;
    }
    &__texto{
        color: $tertiaryColor;
        width: 85%;
        @include font(thin, sm); 
        margin-bottom: 50px;
    }
    &__boton{
        width: 30%;
        @include font(thin, base);
        color: $tertiaryColor;
        text-decoration: none;
        padding: 15px 30px;
        border: 1px solid $tertiaryColor;
        border-radius: 25px;
    }    
}
@keyframes desplazamiento{
    0%{
        left: -100vw;
    }
    10%{
        left: -60vw;
    }
    15%{
        left: -30vw;
    }
    100%{
        left: 0;
    }
}
