/*   
    @include d-flex(row, center, center);   
    Mixin de display flex
*/
@mixin d-flex($f-direction ,$align, $justify){
    display: flex;
    flex-direction: $f-direction;
    align-items: $align;
    justify-content: $justify;
}
/*   
    @include font(thin, sm);   
    Mixin de tipografia
*/
@mixin font($tipe, $size){

    font-size: map-get($font, $size);

    @if $tipe == thin{
        font-weight: map-get($weight, thin);
        letter-spacing: map-get($spacing, thin);
        line-height: map-get($line, thin);
    }
    @else{
        font-weight: map-get($weight, bold);
        letter-spacing: map-get($spacing, bold);
        line-height: map-get($line, bold);
    }
          
}