/* ---------- Style del Menu ---------- */
nav{
    height: 100px;
    background-image: linear-gradient($primaryBackgroundColor, $primaryBackgroundColor, $secondaryBackgroundColor, transparent);
    color: $tertiaryColor;
    img{
        width: 7rem;
    }
    span{
        display: block;
        background-color: $tertiaryColor;
        border-radius: 15px;
    }
}
.navbar__boton{
    width: 1.6rem;
    height: 2rem;
    margin-right: 7px;
    cursor: pointer;
    @include d-flex(column, center, space-evenly);
    > span{
        background-color: $primaryColor;
        height: 11%;
    }
    .navbar__barra--1{
        margin-right: 40%;
        width: 60%;
    }
    .navbar__barra--2{
        width: 100%;
    }
    .navbar__barra--3{
        width: 60%;
        margin-left: 40%;
    }
}
.navbar__close{
    color: $primaryColor;
    font-size: 2.3rem;
    cursor: pointer;
}
.offcanvas, .offcanvas-body{
    background-color: $secondaryBackgroundColor;
}
.offcanvas-body{
    @include d-flex(column, center, space-around);
}
.offcanvas-header{
    padding: 7% 6%;
    background-color: $secondaryBackgroundColor;
    @include d-flex(row, center, space-between);
}
.container-fluid{
    padding: 0 5%;
}
.nav-item{
    text-align: center;
    a{
        color: $tertiaryColor;
        @include font(bold, lg);
        &:hover{
            color: $tertiaryColor;
        }
    }
}
.navbar__legales{
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    > li{
        margin: 5px 30px;
        text-align: center;
        a {
            color: $tertiaryColor;
            @include font(thin, xs);
        }
    }
}
.navbar__redes{
    margin: 0;
    padding: 0;
    @include d-flex(row, center, center);
    list-style: none;
    margin-bottom: 20px;
    a{
        color: $primaryColor;
        margin: 0 7px;
        i{
            font-size: 1.7rem;
        }
    }
}