/* ----------- Style Pagina Principal(home) ---------- */
.seccion__procesos{
    width: 95%;
    margin: 5vw auto;
}
.seccion__etapa{
    margin: 30% 0;
    @include d-flex(row, center, center);
}
.seccion__numero{
    @include d-flex(row, center, center);
    i{
        font-size: 3rem;
        color: $primaryColor;
    }
}
.seccion__descripcion{
    width: 100%;
    padding-left: 3%;
    h3, p{
        text-align: left;
    }
}
.seccion__ilustracion{
    position: absolute;
    z-index: -1;
    img{
        max-height: 35vh;
        max-width: 80%;
        opacity: 0.1;
        filter: blur(1px);
    }
}
.seccion__procesos:nth-child(odd) .seccion__etapa{
    flex-direction: row-reverse;
    text-align: right;
    .seccion__descripcion{
        padding-right: 3%;
        h3, p{
            text-align: right;
        }
    }
}
.seccion__portfolio{
    margin: -50px 0 30px 0;
    .seccion__mockup{
        display: block;
        width: 100%;
        img{
            width: 90%;
            opacity: 0.7;
        }
    }
    article{
        padding: 0 6%;
        h2, p{
            text-align: center;
        }
    }
}
.seccion__icono {
    width: 50%;
    margin-bottom: 25px;
}
.seccion__laboral--fondo {
    background-image: url("../assets/portadas/empleo.webp");
}
.seccion__nosotros--fondo {
    background-image: url("../assets/portadas/quienes-somos.webp");
}
.seccion__degradado{
    width: 100%;
    height: 75vh;
    position: absolute;
    z-index: 0;
    background: linear-gradient($primaryBackgroundColor, $secondaryBackgroundColor, transparent, transparent, $secondaryBackgroundColor, $primaryBackgroundColor);
    opacity: 1;
}
.seccion__articulo {
    position: absolute;
    padding: 0 5%;
    left: 50;
    top: 50;
    z-index: 1;
    &--derecha {
        text-align: right;
    }
}
.seccion__clientes--wrap {
    width: 100%;
    margin-top: 40px;
    @include d-flex(row, center, center);
    flex-wrap: wrap;
    div {
        width: auto;
        text-align: center;
        margin: 1rem;
        @include d-flex(row, center, flex-start);
    }
    img {
        width: 6rem;
        opacity: 0.5;
        &:hover {
        opacity: 1;
        transform: scale(1.1);
        transition: all 1s;
        }
    }
}
.seccion__item--ancho {
    width: 19%;
}
.seccion__galeria {
    display: grid;
    height: auto;
    width: 100%;
    grid-template-areas: "primero" "segundo" "tercero" "cuarto" "quinto" "sexto" "septimo" "octavo" "noveno";
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, 9rem);
    grid-row-gap: 10px;
    margin-top: 50px;
    h3 {
        @include font(bold, sm);
    }
    p {
        @include font(thin, xs);
        color: $tertiaryColor;
    }
}
.seccion__fotografia {
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 7px;
    opacity: 100%;
    article {
        width: 100%;
        height: 100%;
        padding-left: 5%;
        border-radius: 7px;
        background-color: rgba(0, 0, 0, 0.733);
        text-align: left;
        @include d-flex(column, start, flex-end);
        &:hover{
            background-color: rgba(0, 0, 0, 0.575);
        }
    }
    &--primero {
        grid-area: primero;
        background-image: url("../assets/galeria/oficina--caba--1.webp");
    }
    &--segundo {
        grid-area: segundo;
        background-image: url("../assets/galeria/oficina--caba--2.webp");
        background-position-y: 50%;
    }
    &--tercero {
        grid-area: tercero;
        background-image: url("../assets/galeria/oficina--caba--3.webp");
    }
    &--cuarto {
        grid-area: cuarto;
        background-image: url("../assets/galeria/oficina--mendoza--1.webp");
        background-position-y: 50%;
    }
    &--quinto {
        grid-area: quinto;
        background-image: url("../assets/galeria/oficina--mendoza--2.webp");
    }
    &--sexto {
        grid-area: sexto;
        background-image: url("../assets/galeria/oficina--mendoza--3.webp");
        background-position-y: 30%;
    }
    &--septimo {
        grid-area: septimo;
        background-image: url("../assets/galeria/oficina--usuahia--1.webp");
        background-position-y: 30%;
    }
    &--octavo {
        grid-area: octavo;
        background-image: url("../assets/galeria/oficina--usuahia--2.webp");
        background-position-y: 30%;
    }
    &--noveno {
        grid-area: noveno;
        background-image: url("../assets/galeria/oficina--usuahia--3.webp");
    }
}
/* ----------- Style Servicios ---------- */
.seccion__garantia--fondo {
    background-image: url("../assets/portadas/garantia.webp");
}
.seccion__ayuda--fondo {
    background-image: url("../assets/portadas/mesa-de-ayuda.webp");
}
/* ---------- Style Empleos(oportunidades) ----------- */
.seccion__referido--fondo {
    background-image: url("../assets/portadas/entrevista-header.webp");
}
.seccion__datos--margin {
    margin-bottom: 30px;
    padding: 3%;
}
.seccion__formulario .col-lg-6 {
    margin: 50px 0;
}
.seccion__fieldset {
    border: 1px solid $secondaryColor;
    border-radius: 10px;
    padding: 10px 0 50px 0;
    width: 100%;
    margin: 0 auto;
    legend {
        background-color: $primaryBackgroundColor;
        position: relative;
        color: $primaryColor;
        top: -30px;
        left: 15%;
        @include font(bold, md);
        width: 70%;
    }
    input{
        border-radius: 25px;
        border-color: $secondaryColor;
        width: 80%;
        height: 2.3rem;
        text-align: center;
    }
    input:focus{
        outline: 1px solid $primaryColor;
        &::placeholder{
            color: $primaryBackgroundColor;
        }
    }
    label {
        color: $tertiaryColor;
        @include font(thin, sm);
        display: block;
        margin: 40px 0 10px 0;
    }
}
/* ---------- Style Contacto ---------- */
.seccion__texto--margen {
    margin-bottom: 30px;
}
.seccion__ubicaciones {
    width: 100%;
    padding: 1%;
    margin: 100px auto -100px auto;
    @include d-flex(row, center, space-evenly);
    flex-wrap: wrap;
}
.seccion__sede {
    width: 25rem;
    padding: 0 10px;
    margin-bottom: -50px;
    article {
        background-color: $primaryBackgroundColor;
        width: 70%;
        height: 150px;
        padding: 4%;
        border: 2px solid $tertiaryColor;
        border-radius: 10px;
        position: relative;
        top: -325px;
        left: 15%;
        text-align: center;
        @include d-flex(column, center, space-around);
        flex-wrap: wrap;
    }
    iframe {
        width: 100%;
        height: 250px;
        border-radius: 10px;
        opacity: 65%;
    }
    h3 {
        color: $primaryColor;
        @include font(bold, md);
    }
    p {
        color: $tertiaryColor;
        @include font(thin, sm);
    }
    a {
        text-decoration: none;
        @include font(thin, xs);
        color: $primaryBackgroundColor;
        padding: 5px 15px;
        border-radius: 10px;
        background-color: $primaryColor;
    }
}
/* ---------- Style quienes-somos(nuestra esencia) ----------*/
/* ---------- Style Linea de Tiempo ---------- */
.seccion__tiempo {
    list-style-type: none;
    height: auto;
    @include d-flex(row, center, center);
    flex-wrap: wrap;
    padding: 0;
    li {
        height: 250px;
        margin-bottom: 30px;
        p {
        margin-top: 10px;
        text-decoration: none;
        color: $tertiaryColor;
        }
    }
}
.seccion__fecha {
    padding: 9% 0;
    article {
        width: 100%;
        padding: 0 15%;
        height: auto;
    }
    &:not(:last-child)::after {
        content: "";
        position: absolute;
        
        margin: 0 auto;
        margin-top: 20px;
        height: 100px;
        width: 5px;
        background-color: $primaryColor;
        border-radius: 10px;
    }
    &:not(:first-child)::before {
        content: "";
        position: absolute;
        background-color: $primaryColor;
    }
}
/* ---------- Fin Style Linea de Tiempo ---------- */
.seccion__lista--personal {
    width: 100%;
    padding: 5%;
    margin: 0 auto;
    flex-wrap: wrap;
    @include d-flex(row, center, center);
    list-style: none;
}
.seccion__item--personal {
    width: auto;
    text-align: center;
}
.seccion__personal {
    padding: 10px 0;
    width: 16rem;
    height: 22rem;
}
.seccion__presentacion {
    width: 90%;
    height: auto;
    margin: 30px auto 30px auto;
}
.seccion__perfil {
    position: relative;
    width: 50%;
    margin: 0 auto 0 auto;
    filter: grayscale(0.5);
    border-radius: 50%;
    z-index: -1;
}
.seccion__foto--gradient {
    content: " ";
    position: relative;
    width: 8rem;
    height: 8rem;
    top: -7.5rem;
    left: 3rem;
    border: 50%;
    background: radial-gradient(circle, transparent 0%, $secondaryBackgroundColor 40%, $primaryBackgroundColor 70%, $primaryBackgroundColor 100%);
    z-index: 0;
    margin-bottom: -8rem;
}
.seccion__cuerpo h3 {
    margin-bottom: 7px;
}
.seccion__stack {
    @include d-flex(row, center, center);
    margin: 10px auto;
    i{
        font-size: 30px;
        margin: 0 10px;
        opacity: 0.6;
        color: $primaryColor;
    }
}